@import 'var.less';


/*
*
*	Layout
*
*/

* {
    box-sizing: border-box;
}

.max-width-wrap {
    margin: 0 auto;
    max-width: @width-max-page-main;
    width: 100%;
    padding-left: @padding-column;
    padding-right: @padding-column;
}

/*
*
*	General
*
*/

html {
    font-size: 14px;

    body {
        font-size: @font-size-default;
        line-height: @line-height;
        margin: 0;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        color: @color-1-near-white;
        user-select: none;
        overflow-y: scroll;
    
        .demo-mod {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}

/*
*
*	Buttons
*
*/

.button-type-1 {
    &:hover {
        cursor: pointer;
    }
}

.button-type-1 {
    padding: @padding-column;
    background-color: @color-1-dark;
    border-top: medium solid @color-1-light;
    border-left: none;
    border-right: none;
    border-bottom: thin solid @color-black;
    color: @color-1-near-white;
    transition: background-color 0.15s;
    user-select: none;
    box-shadow: 0px 0px 5px @color-1-light inset;
    // Added below 3 lines to force centering on some buttons that didn't otherwise.
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: @color-1-light;
    }

    &:active {
        background-color: @color-1-darkest;
    }
}

/*
*
*	Fonts
*
*/

* {
    /* Sorted highest priority to lowest. System availability is checked per character of text. */
    font-family: "Roboto", "Helvetica", "Verdana", "Arial", "Tahoma", "system-ui", "Georgia", sans-serif;
}

h1 {
    font-size: @font-size-h1;
}

h2 {
    font-size: @font-size-h2;
}

h3 {
    font-size: @font-size-h3;
}

h4 {
    font-size: @font-size-h4;
}

h5 {
    font-size: @font-size-h5;
}

h6 {
    font-size: @font-size-h6;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: calc(@line-height * 1.5rem);
}