@import 'var.less';


.navigation-panel-mod {
    display: flex;

    .navigation-panel-button-wrap {
        display: flex;
        flex: 1;
        flex-direction: row;
        gap: @padding-column;
        margin-top: @padding-column;
        margin-bottom: @padding-column;

        .button-type-1 {
            flex: 1;

            p {
                margin: 0;
            }
        }
    }
}