/* Color Branding */
@color-1-near-white: #e2e3eb;
@color-1-light: #2a537a;
@color-1: #00224b;
@color-1-dark: #011325;
@color-1-darkest: #000812;
@color-2-dark: #001212;

@color-black: #000;
@color-transparent: fade(@color-black, 0%);

// Font size
@font-size-tiny: 1rem;
@font-size-smaller: 1.15rem;
@font-size-default: 1.2rem;
@font-size-h-scale: 1.15;
@font-size-h1: calc(@font-size-default * @font-size-h-scale * @font-size-h-scale * @font-size-h-scale * @font-size-h-scale);
@font-size-h2: calc(@font-size-default * @font-size-h-scale * @font-size-h-scale * @font-size-h-scale);
@font-size-h3: calc(@font-size-default * @font-size-h-scale * @font-size-h-scale);
@font-size-h4: calc(@font-size-default * @font-size-h-scale);
@font-size-h5: @font-size-default;
@font-size-h6: calc(@font-size-default / @font-size-h-scale);

// Line height
@line-height: 1.618;

// Padding
@padding-column: 15px;

// Width
@width-max-page-main: 1360px;